#toc-list {
	position: absolute;
	left: calc(100% + 0.5rem);
	display: none;
	overflow-y: auto;
	min-width: 10rem;
	max-width: 20vw;
	max-height: 80vh;
}

.home.project .hero {
	padding: 1rem;
	background-image:  url(/R-DAM_1.jpg);
	background-origin: border-box;
	background-size: auto;
	background-repeat: no-repeat;
	background-position-y: -263px;
    background-position-x: -341px;

}
.home.project .hero h1 {
    color: #ebebeb;
}

.home.project .hero .description {
    color: #dddddd;
}
.flowchart-wrapper {
	overflow-x: initial;
	 /* padding: 0.6em 0.4em; */
	 text-align: center;
	 transition: all 1s;
 }
 .flowchart-wrapper>svg{
 
	 z-index: 1000;
	 backdrop-filter: blur(2px);
   /*	left: -73px;*/
 }
 

@media screen and (min-width: 720px) {
	
	.home.project .hero {
		padding: 1rem;
		background-image:  url(/R-DAM_1.jpg);
		background-origin: border-box;
		background-size: auto;
		background-repeat: no-repeat;
		background-position-y: -179px;
   		background-position-x: -346px;
	}

} 

@media screen and (min-width: 959px) {
	
	.home.project .hero {
		padding: 1rem;
		background-image:  url(/R-DAM_1.jpg);
		background-origin: border-box;
		background-size: auto;
		background-repeat: no-repeat;
		background-position-y: -526px;
    	background-position-x: -1rem;
		background-clip: CONTENT-BOX;
	}

} 